* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 微軟正黑體;
  /* outline: solid #f00 1px !important;
            background: #000 !important;
            color: #fff !important; */
}

/* navs */
.nav {
  position: fixed;
  z-index: 2;
}
.nav_bg {
  position: absolute;
  z-index: 1;
}
.nav_words {
  position: relative;
  z-index: 1;
}

.main_menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.sub_menu {
  list-style: none;
  position: absolute;
  background-color: #dba616;
  display: none;
  animation: drop 0.5s ease;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.sub_item {
  float: left;
}

@keyframes drop {
  0% {
    opacity: 0;
    /* transform: rotate(-90deg); */
    /* transform: translateY(100%); */
    transform: scaleY(0%);
  }

  100% {
    opacity: 1;
    transform: scaleY(100%);
    /* transform: rotate(0deg); */
    /* transform: translateY(0%); */
  }
}
.drop_down:hover .sub_menu {
  display: grid;
}
.sub_menu li {
  padding: 0.5rem;
}
.sub_menu li:hover {
  background-color: #64101f;
}
.nav_words li {
  text-decoration: none;
  font-size: 1.25rem;
  margin: 0 2rem;

  /* padding: 1.25rem 0 1.25rem 0;
            border-top: solid 4px #f8d83a; */
}

/* 上划線動畫 */
.upperline {
  position: relative;
}
.upperline::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  top: -20px;
  background-color: #dba616;
  transition: all 0.3s ease-in-out;
  transform: scale3d(0, 1, 1);
  transform-origin: 50% 0%;
}

.upperline:hover::after {
  transform: scale3d(1, 1, 1);
}

.nav_words a {
  text-decoration: none;
  color: aliceblue;
}

.news_title {
  position: relative;
  top: 10vw;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
}
.news_title h1 {
  width: 24vw;
  margin-top: 3rem;
  font-family: Lucida Calligraphy;
}
.gotop {
  background-color: #c16e01;
  display: flex;
  justify-content: center;
}
.contact {
  color: #919191;
  background-color: #64101f;
  display: flex;
  justify-content: center;
}
.contact_content {
  padding: 2rem 5rem;
}
.contact_icon {
  padding: 2rem;
  display: flex;
  align-items: center;
}
.contact_icon a {
  padding: 2rem;
}

.all {
  position: relative;
  top: 10rem;
}
.detail {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.items div {
  margin: 2rem;
}
.items img {
  border-radius: 2rem;
}
.items p {
  width: 25vw;
}
/* 翻頁動畫 */
/* 第一張 */

.one {
  position: relative;
  width: 645px;
  height: 374px;
  perspective: 100vw;
}
.one:hover .one_front {
  transform: rotatey(180deg);
}
.one:hover .one_back {
  transform: rotatey(0deg);
}
.one_front {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("./flowers/a.png");
  transform: rotateY(0deg);
  transition: all 0.5s ease-out;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem #828282;
}
.one_back {
  background-color: #ba96cc;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: rotatey(-180deg);
  backface-visibility: hidden;
  transition: all 0.5s ease-out;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5rem #828282;
}
/* 第二張 */
.two {
  position: relative;
  width: 645px;
  height: 374px;
  perspective: 100vw;
}
.two:hover .two_front {
  transform: rotatey(180deg);
}
.two:hover .two_back {
  transform: rotatey(0deg);
}
.two_front {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("./flowers/b.png");
  transform: rotateY(0deg);
  transition: all 0.5s ease-out;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem #828282;
}
.two_back {
  background-color: #a1dfba;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: rotatey(-180deg);
  backface-visibility: hidden;
  transition: all 0.5s ease-out;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5rem #828282;
}
/* 第三張 */
.three {
  position: relative;
  width: 645px;
  height: 374px;
  perspective: 100vw;
}
.three:hover .three_front {
  transform: rotatey(180deg);
}
.three:hover .three_back {
  transform: rotatey(0deg);
}
.three_front {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("./flowers/c.png");
  transform: rotateY(0deg);
  transition: all 0.5s ease-out;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem #828282;
}
.three_back {
  background-color: #e6acc5;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: rotatey(-180deg);
  backface-visibility: hidden;
  transition: all 0.5s ease-out;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5rem #828282;
}
/* 第四張 */
.four {
  position: relative;
  width: 645px;
  height: 374px;
  perspective: 100vw;
}
.four:hover .four_front {
  transform: rotatey(180deg);
}
.four:hover .four_back {
  transform: rotatey(0deg);
}
.four_front {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("./flowers/d.png");
  transform: rotateY(0deg);
  transition: all 0.5s ease-out;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem #828282;
}
.four_back {
  background-color: #d2a1a1;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: rotatey(-180deg);
  backface-visibility: hidden;
  transition: all 0.5s ease-out;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5rem #828282;
}
/* 第五章 */
.five {
  position: relative;
  width: 645px;
  height: 374px;
  perspective: 100vw;
}
.five:hover .five_front {
  transform: rotatey(180deg);
}
.five:hover .five_back {
  transform: rotatey(0deg);
}
.five_front {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("./flowers/e.png");
  transform: rotateY(0deg);
  transition: all 0.5s ease-out;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem #828282;
}
.five_back {
  background-color: #b8abef;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: rotatey(-180deg);
  backface-visibility: hidden;
  transition: all 0.5s ease-out;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5rem #828282;
}
/* 第六章 */
.six {
  position: relative;
  width: 645px;
  height: 374px;
  perspective: 100vw;
}
.six:hover .six_front {
  transform: rotatey(180deg);
}
.six:hover .six_back {
  transform: rotatey(0deg);
}
.six_front {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("./flowers/f.png");
  transform: rotateY(0deg);
  transition: all 0.5s ease-out;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem #828282;
}
.six_back {
  background-color: #f2f2c2;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: rotatey(-180deg);
  backface-visibility: hidden;
  transition: all 0.5s ease-out;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5rem #828282;
}

.sub_title {
  position: relative;
  left: 14vw;
  top: 10vh;
  width: 50vw;
}
.chinese_title {
  border-bottom: 4px solid #64101f;
  padding-bottom: 16rem;
}
.en_title {
  border-bottom: 1px solid #64101f;
  padding-bottom: 3rem;
}

.sm_pic {
  width: 25vw;
  padding-top: 4rem;
  line-height: 2rem;
}
.detail p {
  width: 25vw;
}
.big_pic {
  width: 80vw;
}
.big_pic1 {
  width: 40vw;
}
.one {
  width: 40vw;
}
.two {
  width: 40vw;
}
.three {
  width: 40vw;
}
.four {
  width: 40vw;
}
.five {
  width: 40vw;
}
.six {
  width: 40vw;
}
.web {
  display: block;
}
.rwd {
  display: none;
}
@media screen and (max-width: 1300px) {
  .sub_title {
    width: 100vw;
    display: flex;
    justify-content: center;
    left: 0;
  }
  .chinese_title {
    border: none;
  }
  .sm_pic {
    width: 30vw;
  }
}

@media screen and (max-width: 850px) {
  .news_title h1 {
    font-size: 2rem;
    width: 40vw;
  }
  .chinese_title {
    padding-bottom: 4rem;
  }
  .sm_pic {
    width: 50vw;
  }
  .detail p {
    width: 50vw;
  }
  .big_pic1 {
    width: 60vw;
  }
  .items p {
    font-size: 0.75rem;
  }
  .one {
    width: 70vw;
    height: 30vh;
  }
  .two {
    width: 70vw;
    height: 30vh;
  }
  .three {
    width: 70vw;
    height: 30vh;
  }
  .four {
    width: 70vw;
    height: 30vh;
  }
  .five {
    width: 70vw;
    height: 30vh;
  }
  .six {
    width: 70vw;
    height: 30vh;
  }
  .web {
    display: none;
  }
  .rwd {
    display: block;

    position: relative;
    top: 10rem;
  }
  .rwd div {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }
  .rwd img {
    width: 45vw;
    padding-right: 0.5rem;
  }
  .rwd p {
    width: 45vw;
    align-items: center;
    padding-left: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  .rwd p {
    font-size: 0.75rem;
    width: 35;
  }
  .rwd img {
    width: 55vw;
  }
}
